body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ECECEC, #ECECEC);
}

/* ---- NAVBAR ---- */
.navbar {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fefbf2;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.rise-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* pour aligner à gauche */
}

.rise-logo {
  height: 150px; /* adapte à la taille de ton logo */
  margin-bottom: -25px;
  margin-left:-20px;
  margin-top: -35px; /* espace entre le logo et le sous-texte */
}

.rise-subtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: black;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  font-weight: 770;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  transition: color 0.3s;
}

.nav-links a.active {
  background-color: #c42727;
  color: white !important;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #d9534f;
}
